* {
  box-sizing: border-box;
}

body, h1, h2, ul {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: -35px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menu-btn_active span {
  height: 0;
}
.menu-btn_active span::before {
  transform: rotate(45deg);
}
.menu-btn_active span::after {
  transform: rotate(-45deg);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 0.5s;
}

.menu-active {
  transform: translateX(0%);
  z-index: 999;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #4d4959;
  height: 30%;
  text-transform: uppercase;
}

.header {
  height: 800px;
  background: url("../images/bg-header.png") no-repeat center center/cover;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.header li {
  margin: 40px 70px 0 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.header a {
  color: #4d4959;
}

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description__icon {
  margin-top: 120px;
}
.description__heading {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #5c5d5e;
  margin-top: 35px;
  letter-spacing: 2px;
}
.description__text {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 35px 0 145px 0;
  font-size: 18px;
  color: #848789;
  line-height: 34px;
}

.gallery {
  display: grid;
  width: 100%;
  grid-template: repeat(9, minmax(200px, auto))/repeat(3, 1fr);
}
.gallery hr {
  width: 50px;
}
.gallery .bike-1-lg-img {
  display: grid;
  background: url("../images/first-row-1.png") no-repeat center center/cover;
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}
.gallery .bike-1-logo {
  align-self: center;
  justify-self: center;
}
.gallery .bike-1-descr {
  display: grid;
  grid-row: 1 / 3;
}
.gallery .bike-1-descr__heading, .gallery .bike-2-descr__heading, .gallery .bike-3-descr__heading {
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #5c5d5e;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gallery .bike-1-descr__text, .gallery .bike-2-descr__text, .gallery .bike-3-descr__text {
  color: #848789;
  line-height: 34px;
  font-family: "Lato", sans-serif;
}
.gallery .bike-1-descr__inner, .gallery .bike-2-descr__inner, .gallery .bike-3-descr__inner {
  align-self: center;
  justify-self: center;
  text-align: center;
}
.gallery .bike-1-small-img {
  background: url("../images/first-row-2.png") no-repeat center center/cover;
}
.gallery .bike-2-descr {
  display: grid;
  grid-row: 4 / 6;
}
.gallery .bike-2-lg-img {
  display: grid;
  background: url("../images/second-row-2.png") no-repeat center center/cover;
  grid-column: 2 / 4;
  grid-row: 4 / 7;
}
.gallery .bike-2-logo {
  align-self: center;
  justify-self: center;
}
.gallery .bike-2-small-img {
  background: url("../images/second-row-1.png") no-repeat center center/cover;
}
.gallery .bike-3-lg-img-1 {
  display: grid;
  background: url("../images/third-row-1.png") no-repeat center center/cover;
  grid-row: 7 / 10;
}
.gallery .bike-3-logo {
  align-self: center;
  justify-self: center;
}
.gallery .bike-3-descr {
  grid-row: 7 / 9;
  display: grid;
}
.gallery .bike-3-lg-img {
  grid-row: 7 / 10;
  background: url("../images/third-row-3.png") no-repeat center center/cover;
}
.gallery .bike-3-small-img {
  background: url("../images/third-row-2.png") no-repeat center center/cover;
}

.reviews {
  background-color: #f7f7f7;
}
.reviews__container {
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews__twitter-icon {
  margin-top: 125px;
}
.reviews__nickname {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 35px;
}
.reviews__nickname span {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.reviews__text {
  font-family: "Lato", sans-serif;
  font-style: italic;
  margin-bottom: 185px;
}
.reviews__text p {
  text-align: center;
}

.images__container {
  display: grid;
  grid-template: repeat(2, 270px)/repeat(6, auto);
}
.images .first {
  background: url("../images/first.png") no-repeat center center/cover;
}
.images .second {
  background: url("../images/second.png") no-repeat center center/cover;
}
.images .third {
  background: url("../images/third.png") no-repeat center center/cover;
  grid-row: 1 / 3;
  grid-column: 3 / 3;
}
.images .fourth {
  background: url("../images/fourth.png") no-repeat center center/cover;
  grid-row: 1 / 3;
  grid-column: 4 / 4;
}
.images .fifth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../images/fifth-color-bg.png"), url("../images/fifth.png") no-repeat center center/cover;
  grid-column: 5 / 7;
}
.images .caption {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}
.images .sixth {
  background: url("../images/sixth.png") no-repeat center center/cover;
  grid-column: 1 / 3;
}
.images .seventh {
  background: url("../images/seventh.png") no-repeat center center/cover;
  grid-column: 5 / 7;
}

.link {
  background-color: #282f35;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}
.link__button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  border: 2px solid #fff;
  width: 40vw;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__caption {
  color: #8c8f91;
  font-style: italic;
  font-size: 1.5rem;
}
.form div {
  margin-bottom: 40px;
}
.form__input {
  padding: 15px;
  border: none;
  border: 1px solid #d3d7d9;
  width: 30vw;
  margin-bottom: 120px;
}
.form__button {
  margin-left: 10px;
  padding: 15px;
  background-color: #64c29e;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.form__input::placeholder {
  color: #d0d0d0;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

.footer {
  background-color: #f7f7f7;
}
.footer__container {
  padding-top: 100px;
  padding-bottom: 105px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .heading {
  font-family: "Lato", sans-serif;
  color: #848789;
  line-height: 0;
}
.footer .address {
  font-family: "Lato", sans-serif;
  color: #9b9d9f;
}
.footer__author {
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #b2b4b5;
  display: flex;
  align-items: center;
}
.footer__author img {
  padding-left: 10px;
}
.footer__social-networks img {
  margin: 10px;
}

/*# sourceMappingURL=main.css.map */
